<html>
    <body>
        <a href="/">Home</a>
{{#if result.deleted}}
    <h2>{{item}} deleted</h2>
    remaining total: {{result.total}}
{{else}}
    <h2>{{item}} not found</h2>
{{/if}}

    </body>
</html>