<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>React</title>
  <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
  <h2>Cars Inventory</h2>
  <div id="root"></div>
  <script type="text/babel">
        const divStyle = { color: 'blue', backgroundColor: 'yellow' };

        const cars = <%- items %>;

    const Cars = (props) => {
      const listItems = props.items.map((item) => (
        <li key={item.make} onClick={() => props.clickHandler(item)}>
          {item.make}
        </li>
      ));
      return <ul>{listItems}</ul>;
    };

    const Detail = (props) => {
      return (
        <div>
          <h3>Cars Details</h3>
          {props.item && (
            <form>
              Make: <input type="text" name="make" value={props.item.make || ""} onChange={props.handleChange} /><br />
              Model: <input type="text" name="model" value={props.item.model || ""} onChange={props.handleChange} /><br />
              Year: <input type="text" name="year" value={props.item.year || ""} onChange={props.handleChange} /><br />
              Color: <input type="text" name="color" value={props.item.color || ""} onChange={props.handleChange} /><br />
              Price: <input type="text" name="price" value={props.item.price || ""} onChange={props.handleChange} /><br />
              <button name="clear" onClick={props.clearForm}>Clear</button>&nbsp;
            </form>
          )}
        </div>
      );
    };

    const MyApp = () => {
      const [items, setItems] = React.useState([]); // Initialize with an empty array or fetch from an API
      const [selectedItem, setSelectedItem] = React.useState();

      const itemClicked = (item) => {
        console.log('itemClicked')
        setSelectedItem(item);
      };

      const itemChanged = (e) => {
        const field = e.target.name; // Use the "name" attribute of the input field
        const newItem = { ...selectedItem, [field]: e.target.value };
        const newItems = items.map(item => item.make === newItem.make ? newItem : item);
        setItems(newItems);
        setSelectedItem(newItem);
      };

      const clearForm = () => {
        setSelectedItem(null);
      };

      return (
        <div>
          <Cars items={cars} clickHandler={itemClicked} />
          <hr />
          <Detail item={selectedItem} handleChange={itemChanged} clearForm={clearForm} />
        </div>
      );
    };
    const container = document.getElementById('root');
    const root = ReactDOM.createRoot(container);
    root.render(<MyApp />);
  </script>
</body>
</html>





