<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>React </title>
  <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <!-- Don't use this in production: -->
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
  <h2>Cars Inventory</h2>
  <div id="root"></div>
  <script type="text/babel">
    const divStyle = {
      color: 'blue',
      backgroundColor: 'yellow',
    };

    const cars = [
      {"make": "Buick", "model": "Encore GX", "year": "2023", "color": "blue", "price": "$29290"},
      {"make": "Tesela", "model": "S P90D", "year": "2015", "color": "white", "price": "$37000"},
      {"make": "Jeep", "model": "Wrangler", "year": "2023", "color": "blue", "price": "$86290"},
      {"make": "lexus", "model": "lexus RX", "year": "2023", "color": "black", "price": "$29290"},

  ]
    const Users = (props) => {
      const listItems = props.items.map((item) => (
        <li key={item.make} onClick={() => props.clickHandler(item)}>
          {item.make}
        </li>
      ));
      return <ul>{listItems}</ul>;
    }

    const Greeting = (props) => {
      if (props.user) {
        return <h1> Hello, {props.user}!</h1>;
      }
      return <h1 style={divStyle}>Hello, Stranger.</h1>;
    }

    const Detail = (props) => {
      return (
        <div>
          <h3>Cars Details</h3>
          {props.item && (
              
        <form>
        Make: <input type="text" name="make" value={props.item.make || ""} onChange={props.handleChange} /><br />
        Model: <input type="text" name="model" value={props.item.model || ""} onChange={props.handleChange} /><br />
        Year: <input type="text" name="year" value={props.item.year || ""} onChange={props.handleChange} /><br />
        Color: <input type="text" name="color" value={props.item.color || ""} onChange={props.handleChange} /><br />
        Price: <input type="text" name="price" value={props.item.price || ""} onChange={props.handleChange} /><br />
        
        <button name="clear" onClick={props.clearForm}>Clear</button>&nbsp;

      </form>
            
          )}
        </div>
      )
    }

    const MyApp = () => {
      const [items, setItems] = React.useState(cars);
      const [selectedItem, setSelectedItem] = React.useState();



      const itemClicked = (e) => {
        let found = cars.find((item) => { return item.make == e.target.innerText});
        setSelectedItem(found);
      }

      const itemChanged = (e) => {
        let field = e.target.make;
        let newItem = { ...selectedItem };
        nowItem[field] = e.target.value;

        let newItems = items.filter(item => item.make != newItem.make)
        console.log(newItems)
        setSelectedItem(newItem);

        
      }

      return (
        <div>
          <h2>Cars Make!</h2>
          <Users items={items} clickHandler={itemClicked} />
          <hr/>
          <Detail item={selectedItem} changeHandler={itemCanged}/>
        </div>
      )
    }

    const container = document.getElementById('root');
    const root = ReactDOM.createRoot(container);
    root.render(<MyApp />);
  </script>
</body>
</html>